body{
        background: #f4f4f4;
        font-family: MuseoSansCyrl,sans-serif;
        font-weight: 700;
}
.search {
    /* устанавливаем необходимую ширину формы в зависимости от дизайна
    ** форма без проблем растягивается */
    width: 75%;
    margin-left: 10px;

    /* кнопку отправки будем позиционировать абсолютно,
    ** поэтому необходимо это свойство */
    position: relative;
}

.search input {
    /* отключаем бордюры у инпутов */
    border: none;
}

/* стили для поля ввода */
.search .input {
    /* растягиваем поле ввода на всю ширину формы */
    width: 100%;

    /* за счет верхнего (8px) и нижнего (9px) внутренних отступов
    ** регулируем высоту формы
    ** внутренний отступ справа (37px) делаем больше левого,
    ** т.к. там будет размещена кнопка отправки */
    padding: 8px 37px 9px 15px;

    /* чтобы ширина поля ввода (100%) включала в себя внутренние отступы */
    -moz-box-sizing: border-box;
    box-sizing: border-box;

    /* добавляем внутренние тени */
    box-shadow: inset 0 0 5px rgba(0,0,0,0.1), inset 0 1px 2px rgba(0,0,0,0.3);

    /* закругляем углы */
    border-radius: 20px;

    
    font: 13px Tahoma, Arial, sans-serif;
    color: #555;
    outline: none;
}

/* меняем оформление поля ввода при фокусе */
.search .input:focus {
    box-shadow: inset 0 0 5px rgba(0,0,0,0.2), inset 0 1px 2px rgba(0,0,0,0.4);
    
    color: #333;
}

/* оформляем кнопку отправки */
.search .submit {
    /* позиционируем кнопку абсолютно от правого края формы */
    position: absolute;
    top: 0;
    right: 0;

    width: 37px;

    /* растягиваем кнопку на всю высоту формы */
    height: 100%;

    cursor: pointer;
    background: url(https://lh4.googleusercontent.com/-b-5aBxcxarY/UAfFW9lVyjI/AAAAAAAABUg/gQtEXuPuIds/s13/go.png) 50% no-repeat;

    /* добавляем прозрачность кнопке отправки */
    opacity: 0.5;
}

/* при наведении курсора меняем прозрачность кнопки отправки */
.search .submit:hover {
    opacity: 0.8;
}

/* данное свойство необходимо для того, чтобы в браузерах
** Chrome и Safari можно было стилизовать инпуты */
input[type="search"] {
    -webkit-appearance: none;
}
/* задаем отдельные стили для браузеров IE ниже 9-й версии */
*+html .search {
    /* для IE7 подгоняем ширину под другие браузеры и добавляем правый
    ** внутренний отступ, чтобы кнопка отправки встала на свое место */
    width: 28%;
    padding: 0 52px 0 0;
}
.search .input {
    border: 1px solid black;
    border-top: 1px solid black;
    padding-top: 7px;
    padding-bottom: 8px;
}
.search .input:focus {
    border: 1px solid black;
    border-top: 1px solid black;
}
.search .submit {
    filter: alpha(opacity=50);
}
.search .submit:hover {
    filter: alpha(opacity=80);
}















                           
#slider-wrap{ /* Îáîëî÷êà ñëàéäåðà è êíîïîê */
    width:560px; 
    }
#slider{ /* Îáîëî÷êà ñëàéäåðà */
    width:500px;
    height:300px;
    overflow: hidden;
    border: solid 10px;
    position:relative;}
.slide{ /* Ñëàéä */
    width:100%;
    height:100%;
    }
.sli-links{ /* Êíîïêè ñìåíû ñëàéäîâ */
    margin-top:10px;
    text-align:center;}
.sli-links .control-slide{
    margin:2px;
    display:inline-block;
    width:16px;
    height:16px;
    overflow:hidden;
    text-indent:-9999px;
    /* background:url('/static/images/radioBg.png') center bottom no-repeat;} */}
.sli-links .control-slide:hover{
    cursor:pointer;
    background-position:center center;}
.sli-links .control-slide.active{
    background-position:center top;}
#prewbutton, #nextbutton{ /* Ññûëêà "Ñëåäóþùèé" è "Ïåäûäóùèé" */
    display:block;
    width:15px;
    height:100%;
    position:absolute;
    top:0;
    overflow:hidden;
    text-indent:-999px;
    /* background:url('/static/images/arrowBg.png') left center no-repeat; */
    opacity:0.8;
    z-index:3;
    outline:none !important;}
#prewbutton{left:10px;}
#nextbutton{
    right:10px;
    /* background:url('/static/images/arrowBg.png')  right center no-repeat;} */
}
#prewbutton:hover, #nextbutton:hover{
    opacity:1;}












#scrollUp {
    border: 3px solid rgba(0, 0, 0, 0.1);
    border-radius: 100%;
    bottom: 15px;
    box-sizing: content-box;
    color: #fff;
    font-size: 20px;
    height: 50px;
    line-height: 63px;
    position: fixed;
    right: 15px;
    text-align: center;
    transition: all 0.3s ease 0s;
    width: 50px;
    z-index: 200;
}
#scrollUp:hover {} @-webkit-keyframes scroll-ani-to-top {
    0% {
        opacity: 0;
        bottom: 0;
    }
    50% {
        opacity: 1;
        bottom: 50%;
    }
    100% {
        opacity: 0;
        bottom: 75%;
    }
}
@-moz-keyframes scroll-ani-to-top {
    0% {
        opacity: 0;
        bottom: 0;
    }
    50% {
        opacity: 1;
        bottom: 50%;
    }
    100% {
        opacity: 0;
        bottom: 75%;
    }
}
@keyframes scroll-ani-to-top {
    0% {
        opacity: 0;
        bottom: 0;
    }
    50% {
        opacity: 1;
        bottom: 50%;
    }
    100% {
        opacity: 0;
        bottom: 75%;
    }
}
#scrollUp:hover i {
    animation: 800ms linear 0s normal none infinite running scroll-ani-to-top;
    height: 100%;
    left: 0;
    margin-bottom: -25px;
    position: absolute;
    width: 100%;
    bottom: 0;
}
#scrollUp i {
    color: #fff;
    font-size: 36px;
}
#scrollUp {
    background: #cfcecc none repeat scroll 0 0;
}





/* Main Footer */
footer .main-footer{ padding: 20px 0; background: #252525;}
footer ul{ padding-left: 0; list-style: none;}

/* Copy Right Footer */
.footer-copyright { background: #222; padding: 5px 0;}
.footer-copyright .logo { display: inherit;}
.footer-copyright nav { float: right; margin-top: 5px;}
.footer-copyright nav ul { list-style: none; margin: 0; padding: 0;}
.footer-copyright nav ul li { border-left: 1px solid #505050; display: inline-block; line-height: 12px; margin: 0; padding: 0 8px;}
.footer-copyright nav ul li a{ color: #969696;}
.footer-copyright nav ul li:first-child { border: medium none; padding-left: 0;}
.footer-copyright p { color: #969696; margin: 2px 0 0;}

/* Footer Top */
.footer-top{ background: #252525; padding-bottom: 30px; margin-bottom: 30px; border-bottom: 3px solid #222;}

/* Footer transparent */
footer.transparent .footer-top, footer.transparent .main-footer{ background: transparent;}
footer.transparent .footer-copyright{ background: none repeat scroll 0 0 rgba(0, 0, 0, 0.3) ;}

/* Footer light */
footer.light .footer-top{ background: #f9f9f9;}
footer.light .main-footer{ background: #f9f9f9;}
footer.light .footer-copyright{ background: none repeat scroll 0 0 rgba(255, 255, 255, 0.3) ;}

/* Footer 4 */
.footer- .logo { display: inline-block;}

/*====================  
  Widgets  
====================== */
.widget{ padding: 20px; margin-bottom: 40px;}
.widget.widget-last{ margin-bottom: 0px;}
.widget.no-box{ padding: 0; background-color: transparent; margin-bottom: 40px;
  box-shadow: none; -webkit-box-shadow: none; -moz-box-shadow: none; -ms-box-shadow: none; -o-box-shadow: none;}
.widget.subscribe p{ margin-bottom: 18px;}
.widget li a{ color: #ff8d1e;}
.widget li a:hover{ color: #4b92dc;}
.widget-title {margin-bottom: 20px;}
.widget-title span {background: #839FAD none repeat scroll 0 0;display: block; height: 1px;margin-top: 25px;position: relative;width: 20%;}
.widget-title span::after {background: inherit;content: "";height: inherit; position: absolute;top: -4px;width: 50%;}
.widget-title.text-center span,.widget-title.text-center span::after {margin-left: auto;margin-right:auto;left: 0;right: 0;}
.widget .badge{ float: right; background: #7f7f7f;}

.typo-light h1,  
.typo-light h2,  
.typo-light h3,  
.typo-light h4,  
.typo-light h5,  
.typo-light h6,
.typo-light p,
.typo-light div,
.typo-light span,
.typo-light small{ color: #fff;}

ul.social-footer2 { margin: 0;padding: 0; width: auto;}
ul.social-footer2 li {display: inline-block;padding: 0;}
ul.social-footer2 li a:hover {background-color:#ff8d1e;}
ul.social-footer2 li a {display: block; height:30px;width: 30px;text-align: center;}
.btn{background-color: #ff8d1e; color:#fff;}
.btn:hover, .btn:focus, .btn.active {background: #4b92dc;color: #fff;
-webkit-box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
-moz-box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
-ms-box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
-o-box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
-webkit-transition: all 250ms ease-in-out 0s;
-moz-transition: all 250ms ease-in-out 0s;
-ms-transition: all 250ms ease-in-out 0s;
-o-transition: all 250ms ease-in-out 0s;
transition: all 250ms ease-in-out 0s;

}


#slider-wrap{ /* Îáîëî÷êà ñëàéäåðà è êíîïîê */
   width:560px; 
   }
#slider{ /* Îáîëî÷êà ñëàéäåðà */
   width:500px;
   height:300px;
   overflow: hidden;
   border:#eee solid 10px;
   position:relative;}
.slide{ /* Ñëàéä */
   width:100%;
   height:100%;
   }
.sli-links{ /* Êíîïêè ñìåíû ñëàéäîâ */
   margin-top:10px;
   text-align:center;}
.sli-links .control-slide{
   margin:2px;
   display:inline-block;
   width:16px;
   height:16px;
   overflow:hidden;
   text-indent:-9999px;
   /* background:url(radioBg.png) center bottom no-repeat; */
}
.sli-links .control-slide:hover{
   cursor:pointer;
   background-position:center center;}
.sli-links .control-slide.active{
   background-position:center top;}
#prewbutton, #nextbutton{ /* Ññûëêà "Ñëåäóþùèé" è "Ïåäûäóùèé" */
   display:block;
   width:15px;
   height:100%;
   position:absolute;
   top:0;
   overflow:hidden;
   text-indent:-999px;
   /* background:url(arrowBg.png) left center no-repeat; */
   opacity:0.8;
   z-index:3;
   outline:none !important;}
#prewbutton{left:10px;}
#nextbutton{
   right:10px;
   /* background:url(arrowBg.png) right center no-repeat; */
}
#prewbutton:hover, #nextbutton:hover{
   opacity:1;}


   .carousel-animate .carousel-indicators > li {
                                           margin: 0 2px;
                                           background-color: #fff;
                                           border-color: rgb(58,36,83);
                                           opacity: .7;
                                          }
                                          .carousel-animate .carousel-indicators > li.active {
                                           width: 10px;
                                           height: 10px;
                                           opacity: 1;
                                          }
                                          .carousel-animate .hero {
                                           color: #fff;
                                           text-align: center;
                                           text-transform: uppercase;
                                           text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.75);
                                          }
                                          .btn.btn-lg {
                                           padding: 10px 40px;
                                          }
                                          .btn.btn-hero,
                                          .btn.btn-hero:hover,
                                          .btn.btn-hero:focus {
                                           color: #fff;
                                           background-color: #694198;
                                           border-color: rgb(67,41,97);
                                           outline: none;
                                           margin: 20px auto;
                                          }
                                          @media screen and (max-width: 500px) {
                                           .hero h1 {
                                           font-size: 2em;
                                           }
                                          }
                                          .carousel-fade .carousel-inner .item {
                                           transition-property: opacity;
                                          }
                                          .carousel-fade .carousel-inner .item,
                                          .carousel-fade .carousel-inner .active.left,
                                          .carousel-fade .carousel-inner .active.right {
                                           opacity: 0;
                                          }
                                          .carousel-fade .carousel-inner .active,
                                          .carousel-fade .carousel-inner .next.left,
                                          .carousel-fade .carousel-inner .prev.right {
                                           opacity: 1;
                                          }
                                          .carousel-fade .carousel-inner .next,
                                          .carousel-fade .carousel-inner .prev,
                                          .carousel-fade .carousel-inner .active.left,
                                          .carousel-fade .carousel-inner .active.right {
                                           left: 0;
                                           transform: translate3d(0, 0, 0);
                                          }
                                          .carousel-bg .carousel-inner .item {
                                           background-color: darkslategrey;
                                           background-size: cover;
                                           background-position: center;
                                           min-height: 480px;
                                          }




























.kacompos-dakucels {
  
margin-left: 10px;
}

.constructos-knopok {
  width: 200px;
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  cursor: pointer;
  text-align: center;
  height: 55px;
  
  border: none;
  background-size: 300% 100%;

  border-radius: 50px;
  moz-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

.constructos-knopok:hover {
  background-position: 100% 0;
  moz-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

.constructos-knopok:focus {
  outline: none;
}

.constructos-knopok.bordovum {
  background-image: linear-gradient(to right, #179bd2, #32de8b, #23d47f, #1cbf71);
  box-shadow: 0 4px 15px 0 rgba(28, 179, 173, 0.75);
}
.constructos-knopok.vishnevbo {
  background-image: linear-gradient(to right, #efc550, #d23f14, #ea6189, #d2561d);
  box-shadow: 0 4px 15px 0 rgba(199, 68, 23, 0.75);
}
.constructos-knopok.zelenyvis {
  background-image: linear-gradient(to right, #5369c7, #6d3aa0, #597cc5, #7b2abf);
  box-shadow: 0 4px 15px 0 rgba(97, 60, 148, 0.75);
}
.constructos-knopok.nyvistsve {
  background-image: linear-gradient(to right, #dc5367, #e48839, #ca8234, #c54b16);
  box-shadow: 0 4px 15px 0 rgba(230, 85, 91, 0.75);
}
.constructos-knopok.klubnicus {
  background-image: linear-gradient(to right, #128653, #2ba07b, #25bf75, #21ab68);
  box-shadow: 0 4px 15px 0 rgba(17, 156, 99, 0.75);
}
.constructos-knopok.cusoranev {
  background-image: linear-gradient(to right, #0f7f44, #d4c708, #14a4bd, #c9d00e);
  box-shadow: 0 4px 15px 0 rgba(73, 177, 44, 0.75);
}
.constructos-knopok.saturateden {
  background-image: linear-gradient(to right, #5548c1, #701c7b, #8986ea, #ea3433);
  box-shadow: 0 4px 15px 0 rgba(110, 38, 144, 0.75);
}
.constructos-knopok.adenscarlub {
  background-image: linear-gradient(to right,#8B0000, #3b4b5d, #ff8d1e, rgb(2, 143, 104));
  box-shadow: 0 4px 15px 0 rgba(49, 62, 78, 0.75);
}
.constructos-knopok.ubgreken {
  background-image: linear-gradient(to right, #129cd6, #2f70e2, #11aee4, #3073d4);
  box-shadow: 0 4px 15px 0 rgba(48, 116, 220, 0.75);
}
.constructos-knopok.nexperienced {
  background-image: linear-gradient(to right, #d25687, #da6f47, #da145d , #de992c);
  box-shadow: 0 4px 15px 0 rgba(216, 98, 131, 0.75);
}
.constructos-knopok.suckingncu {
  background-image: linear-gradient(to right, #e62d35, #d64c51, #fb9598, #d42931);
  box-shadow: 0 5px 15px rgba(245, 146, 150, 0.4);
}
#coltext{
 margin-left: 10px;

}
#textsmart{
  font-size: 10px;
  font-family: Trebuchet MS, sans-serif;
  color: black;
  margin-top: 3px;
  text-decoration: none;
 
}


#PriceRangeMin{
  border-radius: 10px;
  width: 50px; font-size: 8px;
}
#PriceRangeMax{
  border-radius: 10px;
  width: 50px;font-size: 8px;
}
